<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            background-color:rgb(164, 134, 150) ;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Dashboard</h1>
    <form action="/dashboard" method="get"></form>
</body>
</html>